<a href="https://colab.research.google.com/github/Sanjana-Sarma/NTTF_Training/blob/main/Statistics_Class_20_09_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

alpha=5%
n=10
scores(Bangalore)
scores(Chennai)

In [3]:
import numpy as np
from scipy import stats

# Scores for 10 students in Bangalore
scores_bangalore = np.array([85, 78, 92, 88, 76, 90, 84, 79, 87, 91])

# Scores for 10 students in Chennai
scores_chennai = np.array([79, 82, 88, 85, 75, 87, 80, 81, 84, 86])

# Calculate the sample means
mean_bangalore = np.mean(scores_bangalore)
mean_chennai = np.mean(scores_chennai)

# Perform a one-sample t-test
t_statistic, p_value = stats.ttest_ind(scores_bangalore, scores_chennai)

# Define the significance level
alpha = 0.05

# Print the results
print(f"Mean score in Bangalore: {mean_bangalore}")
print(f"Mean score in Chennai: {mean_chennai}")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

if p_value < alpha:
    print("Reject the null hypothesis: The average scores of the two centers are not the same.")
else:
    print("Fail to reject the null hypothesis: The average scores of the two centers are the same.")

Mean score in Bangalore: 85.0
Mean score in Chennai: 82.7
T-statistic: 1.0424673556655828
P-value: 0.31099488219018556
Fail to reject the null hypothesis: The average scores of the two centers are the same.

alpha=5%

In [5]:
import numpy as np
from scipy import stats

# Scores before the program
scores_before = np.array([80,87,90,99,32,34,45,56,67,77])

# Scores after the program
scores_after = np.array([70,67,80,89,32,74,65,46,60,70])

# Perform a paired-sample t-test
t_statistic, p_value = stats.ttest_rel(scores_after, scores_before)

# Define the significance level
alpha = 0.05

# Print the results
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

if p_value < alpha:
    print("Reject the null hypothesis: There is a significant improvement in scores after the program.")
else:
    print("Fail to reject the null hypothesis: There is no significant improvement in scores after the program.")

T-statistic: -0.2475561485655466
P-value: 0.8100330806550997
Fail to reject the null hypothesis: There is no significant improvement in scores after the program.

In [6]:
a=[40,35,30,45] #in bushels per acre
b=[45,35,40,25]
c=[55,50,41,32]

stats.f_oneway(a,b,c)

F_onewayResult(statistic=1.0903868249712756, pvalue=0.37667599395186785)

In [7]:
0.3766>0.05

True

In [ ]:
#Failed to reject null hypothesis